* {  
    padding: 0;  
    margin: 0;  
}  

body {  
    font-family: 'vazir';  
    direction: rtl;  
    height: 100vh;  
}  

.mobile-text {  
    display: none;  
}  

section {  
    width: 100%;  
    height: 100vh;  
    display: flex;  
    align-items: center;  
    justify-content: center; /* اصلاح اینجا به justify-content */  
    position: relative; /* اضافه کردن position */  
}  

.container {  
    width: 90%;  
    max-width: 1200px;  
    display: flex;  
    align-items: flex-start;  
    justify-content: center;  
    height: 100%;  
    flex-direction: column;  
    margin: 0 auto;  

}


.bg {  
    position: absolute;  
    top: 0;  
    right: 0;  
    width: 100%;  
    height: 100%;  
    overflow: hidden;  
    z-index: -1;  
    background-color: black;  
}  

.bg::after {  
    content: '';  
    position: absolute;  
    top: 0;  
    right: 0;  
    width: 100%;  
    height: 100%;  
    background: rgba(0, 0, 0, 0.27);  
}  

.bg img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
    display: none;
}  

.bg img.id-1 {  
    display: block; 
}  

a {  
    text-decoration: none;  
    color: whitesmoke;  
}  

h1 {  
    font-size: xx-large;
    font-size: 40px;  
    display: flex;  
    align-items: flex-start;  
    color: whitesmoke;  
    position: relative;  
}  
h2 {  
    position: absolute; 
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%);   
}
.container h1 span {  
    
    margin-right: 0%;  
}  

#line {  
    position: absolute;  
    left: 0;  
    bottom: -15px;  
    height: 10px;  
    width: 150px;  
    border: 5px solid rgb(0, 102, 255);  
    pointer-events: none;  
    z-index: 1; 
    transition: all .5s ease;  
}  

@keyframes animate {  
    0% {  
        opacity: .5;  
        transform: scale(1);  
    }  
    100% {  
        opacity: 1;  
        transform: scale(1.1);  
    }  
}  

.text {  
    position: absolute; 
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    cursor: pointer;
}
.shopname a h2{
        font-size: 3.8em;
        margin-bottom: 4%;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
        color: #d75450d3;
}


.text h1 {  
    gap: 25px;  
} 



@media screen and (max-width: 968px) {  
   
    .mobile-text {  
        display: none;  
    }  
    .text {  
        display: block;  
    }  
   
    .shopname a h2{
        font-size: 2.0em;
        margin-bottom: 1%;
} 
}
.text h1 {  
    display: flex; /* استفاده از flexbox */  
    justify-content: center; /* مرکز‌گذاری افقی */  
    gap: 90px; /* فاصله ثابت بین هر عنصر */  
}  

@media (max-width: 768px) {  
    #line {
display:block;
}
    .text h1 {  
        gap: 25px; /* فاصله کمتر برای صفحات کوچک‌تر */  
    }  
    #line {
display:none;
}
}  

@media (max-width: 500px) {  
    #line {
display:none;
}
    .text h1 {  
        gap: 3px; /* فاصله کمتر برای موبایل */  
        font-size: 1.5em;

    }
    .container h1 span {
    margin-right: 20px;
}
       .shopname a h2{
     font-size: 1.5em;
     margin-bottom: 1%;
  overflow-wrap: break-word;
  word-break: break-word;

}   
#line {
display:none;
}
}
@media (min-width: 250px) and (max-width: 350px) { 
.text h1 {  
gap: 1px;   
font-size: 1.5em;

}
.container h1 span {
margin-right: 20px;
}
.shopname a h2{
font-size: 1rem;
overflow-wrap: break-word;
word-break: break-word;

} 
#line {
display:none;
}
     }
